---
<div style="text-align: center;" >
    <h1>
        <b>データサイエンスプログラミング演習</b>
    </h1>
    <h3>
        第15,16回授業（グループワーク） →　レポート（個人ワーク）<br>
        <span style="color: #ff0000"> - 課題をクリアしたら授業終了 - </span><br>
        <span style="color: #ff0000"> - 講師のチェックを受けること - </span><br>
        <table>
            <tr><td>提出期限</td><td>11/22（金)23:59 </td></tr>
            <tr><td>提出ファイル</td><td>１つのPDFファイル</td></tr>
            <tr><td>ファイル作成方法</td><td>Markdown or Wordなど</td></tr>
        </table>
    </h3>
</div>

---

<div style='padding: 10px; margin-bottom: 10px; border: 1px dashed #333333;'>
    <h3><b>データ分析の面白さ</b></h3>
    <b>『現在のデータ』</b>から未来の予測が可能になること<br>
    現状を分析することで問題点を把握し、よりよい未来に変える施策を実施できること<br>
    <br>
    さまざまな分析手法を導入しなくても、<b>『データを適切に加工し可視化する』</b>だけでも多くの情報が得られる。結果の出せるデータ分析エンジニアは適切な加工技術を備えている。いま取り扱っているデータがどのようなものであるかを把握することで、どのような機械学習の手法を用いれば良い結果が得られるかを判断できるようになる。
</div>

---

# 実践データ分析 ケース３　『スポーツジムの例』

### よくある依頼事項
- 私の経営するスポーツジムでは、これまで会員数を増やしてきましたが、ここ一年、なんとなく会員数が伸び悩んでいる気がします。データ分析をしたことがないので、どのような会員が定着しているのかなどを把握できていないのが現状です。データ分析によって傾向をつかむことはできますか？<br>

### ヒアリング調査結果
- 本ジムには、いつでも利用できるオールタイム会員、日中だけ利用できるデイタイム会員、夜のみ利用できるナイト会員の３種類の会員区分が存在します。
- 通常、入会費が必要ですが、不定期に入会費半額キャンペーンや入会費無料キャンペーンを実施し、新規会員獲得を行なっています。
- 退会については、月末までに申請すると翌月末に退会することができます。例：3月19日退会申請　→　4月30日退会(=end_date)

### 依頼主から入手できたデータ
- use_log.csv：会員の利用履歴。期間（2018年4月〜2019年3月）
- customer_gym.csv：2019年3月31日時点でのすべての会員データ。ただし、2018年1月1日〜2018年12月31日の期間に退会した会員データも含まれている。
- class_gym.csv：会員区分データ（オールタイム、デイタイム、ナイトタイム）
- campaign_gym：キャンペーン区分データ（入会金：通常、半額キャンペーン、無料キャンペーン）

# データ分析の前提条件
> ## 依頼日＆分析日：2019/04/19
> ## これから皆さんがデータ分析をおこなうのは、2019/11/19でなく、2019/04/19であるとする。

# 課題クリア要件（以下の一覧に担当者の名前をインプットし、Slackの「021_dsプロ演」チャンネルに投稿したら作業スタート）
1. 会員情報のデータ分析 `（必須）`
 1. （担当：全員）データの欠損、データの揺れをチェック・補完する
 1. （担当：全員）会員の全体像をつかむために、会員データを整理する ＝ 利用履歴以外のデータ同士を結合する
 1. （担当：〇〇）例：会員区分別の人数を示す
 1. （担当：〇〇）例：キャンペーン区分別の人数を示す
 1. （担当：〇〇）例：性別の会員数を示す
 1. （担当：〇〇）例：年別の会員数を示す
 1. （担当：〇〇）例：年度別の入会人数を示す
 1. （担当：〇〇）例：在籍者と退会者の割合を示す
 1. （担当：〇〇）例：月別の入会人数を示す
 1. （担当：〇〇）データ検算をおこなう
 1. （担当：全員） **全体の会員データから読み取れることを調査する。例えば、どの会員区分やキャンペーン区分の会員が多いか考察する**
 
 
2. 最新会員情報のデータ分析 `（必須）`
 1. （担当：全員）最新会員データを示す・・・最新月の会員データを集計することで現状会員の全体像を把握する
 1. （担当：全員）データの欠損、データの揺れをチェック・補完する
 1. （担当：〇〇）例：最新会員データに対して会員区分別に人数を示す
 1. （担当：〇〇）例：最新会員データに対してキャンペーン区分別に人数を示す
 1. （担当：〇〇）例：最新会員データに対して性別人数を示す
 1. （担当：〇〇）例：月別の入会人数を示す
 1. （担当：〇〇）例：在籍者と退会者の割合を示す
 1. （担当：〇〇）データ検算をおこなう
 1. （担当：全員）**最新の会員データから読み取れることを調査する。例えば、どの会員区分やキャンペーン区分の会員が多いか、全体の会員データとの違いなどを考察する**
 
 
3. 利用履歴のデータ分析 `（任意）`
 1. （担当：〇〇）データの欠損、データの揺れをチェック・補完する
 1. （担当：〇〇）全体像をつかむために、利用履歴データを整理する = 利用履歴データと会員データを結合する
 1. （担当：〇〇）利用回数の平均値、中央値、最大値、最小値を示す
 1. （担当：〇〇）会員別月ごとの利用回数の集計結果を示す
 1. （担当：〇〇）会員別曜日ごとの利用回数の集計結果を示す
 1. （担当：〇〇）定期的に利用しているかどうかを調べる ＝ 毎週通っている、毎月n回以上通っているなど
 1. （担当：〇〇）会員期間を示す
 1. （担当：〇〇）退会する会員と継続する会員との違いを示す

In [22]:
#データフレームの表示数を設定する
import pandas as pd
#すべての行を表示する
pd.set_option('display.max_rows', None)
#8行分を表示する
#pd.set_option('display.max_rows',8)

In [23]:
#campaign_gym：キャンペーン区分データ（入会金：通常、半額キャンペーン、無料キャンペーン）
ca_g = pd.read_csv('campaign_gym.csv', encoding='UTF-8')
ca_g

  campaign_id campaign_name
0         CA1            通常
1         CA2         入会費半額
2         CA3         入会費無料

In [24]:
#class_gym.csv：会員区分データ（オールタイム、デイタイム、ナイトタイム）
cl_g = pd.read_csv('class_gym.csv', encoding='UTF-8')
cl_g

  class class_name  price
0   C01     オールタイム  10500
1   C02      デイタイム   7500
2   C03        ナイト   6000

In [25]:
#use_log.csv：会員の利用履歴。期間（2018年4月〜2019年3月）
u_l = pd.read_csv('use_log.csv', encoding='UTF-8')
u_l.head()

            log_id customer_id     usedate
0  L00000049012330    AS009373  2018-04-01
1  L00000049012331    AS015315  2018-04-01
2  L00000049012332    AS040841  2018-04-01
3  L00000049012333    AS046594  2018-04-01
4  L00000049012334    AS073285  2018-04-01

In [26]:
print(len(u_l))

197428

In [ ]:
"""
customer_gym.csv
2019年3月31日時点でのすべての会員データ。
2018年1月1日〜2018年12月31日の期間に退会した会員データも含まれている。
"""
cu_g = pd.read_csv('customer_gym.csv', encoding='UTF-8')
cu_g['customer_id']=cu_g['customer_id'].str.upper()
cu_g.head()

In [28]:
print(len(cu_g))

4192

In [29]:
cu_g.isnull().sum()

customer_id       0
name              0
class             0
gender            0
start_date        0
end_date       2842
campaign_id       0
is_deleted        0
dtype: int64

In [30]:
print(len(cu_g.dropna()))

1350

In [ ]:
merged_df.groupby("is_deleted").count()["customer_id"]

In [48]:
merged_df=pd.merge(cu_g,cl_g,on="class",how="left")
merged_df=pd.merge(merged_df,ca_g,on="campaign_id",how="left")
merged_df.loc[0:10]

,customer_id,name,class,gender,start_date,end_date,campaign_id,is_deleted,class_name,price,campaign_name
0,AS058623,宇野沙弥,C01,F,2015-05-01 00:00:00,NaN,CA1,0,オールタイム,10500,通常
1,AS069821,小暮恵理,C03,F,2015-05-01 00:00:00,NaN,CA1,0,ナイト,6000,通常
2,AS183155,益子涼花,C03,F,2015-05-01 00:00:00,NaN,CA1,0,ナイト,6000,通常
3,AS476267,西口悠奈,C02,F,2015-05-01 00:00:00,NaN,CA1,0,デイタイム,7500,通常
4,AS625883,石本真紗子,C02,F,2015-05-01 00:00:00,NaN,CA1,0,デイタイム,7500,通常
5,AS647421,横溝奈々,C01,F,2015-05-01 00:00:00,NaN,CA1,0,オールタイム,10500,通常
6,AS732240,大坪柚季,C02,F,2015-05-01 00:00:00,NaN,CA1,0,デイタイム,7500,通常
7,AS734592,高坂亜衣,C02,F,2015-05-01 00:00:00,NaN,CA1,0,デイタイム,7500,通常
8,AS777651,安原国男,C01,M,2015-05-01 00:00:00,NaN,CA1,0,オールタイム,10500,通常
9,AS857207,千葉今日子,C02,F,2015-05-01 00:00:00,NaN,CA1,0,デイタイム,7500,通常
10,AS926104,米田莉桜,C03,F,2015-05-01 00:00:00,NaN,CA1,0,ナイト,6000,通常

In [15]:
print(len(cu_g))
print(len(merged_df))

4192
4192

In [35]:
merged_df.isnull().sum()

customer_id         0
name                0
class               0
gender              0
start_date          0
end_date         2842
campaign_id         0
is_deleted          0
class_name          0
price               0
campaign_name       0
dtype: int64

In [43]:
merged_df["end_date"]=pd.to_datetime(merged_df["end_date"])
customer_newer=merged_df.loc[(merged_df["end_date"]>=pd.to_datetime("20190301"))|(merged_df["end_date"].isna())]
print(len(customer_newer))
customer_newer.head()

2953

,customer_id,name,class,gender,start_date,end_date,campaign_id,is_deleted,class_name,price,campaign_name
0,AS058623,宇野沙弥,C01,F,2015-05-01 00:00:00,NaT,CA1,0,オールタイム,10500,通常
1,AS069821,小暮恵理,C03,F,2015-05-01 00:00:00,NaT,CA1,0,ナイト,6000,通常
2,AS183155,益子涼花,C03,F,2015-05-01 00:00:00,NaT,CA1,0,ナイト,6000,通常
3,AS476267,西口悠奈,C02,F,2015-05-01 00:00:00,NaT,CA1,0,デイタイム,7500,通常
4,AS625883,石本真紗子,C02,F,2015-05-01 00:00:00,NaT,CA1,0,デイタイム,7500,通常

In [41]:
customer_newer.groupby("class_name").count()["customer_id"]

class_name
オールタイム    1444
デイタイム      696
ナイト        813
Name: customer_id, dtype: int64

In [50]:
customer_newer.isnull().sum()

customer_id         0
name                0
class               0
gender              0
start_date          0
end_date         2842
campaign_id         0
is_deleted          0
class_name          0
price               0
campaign_name       0
dtype: int64